<div class="panel panel-left" style="background:rgb(142, 142, 147);border-right:1px solid rgb(200, 199, 204);">
<div class="center" style="text-align:center;border-bottom:1px solid #ffffff;background:#1d1d1d;"><img src="img/logo_rasp.png" style="height:39px;width:auto;"></div>
</div>
<div class="panel panel-right" style="background:rgb(142, 142, 147);border-left:1px solid rgb(200, 199, 204);">

</div>

<div class="views">
<div class="view view-main">
 
</div>
</div>
<div id="minPreloader"><p><span style="width:42px; height:42px" class="preloader"></span></p></div>